<div class="row">
    <div *ngFor="let data of CocData.Data;let j=index " class="" [style.width]="itemWidth + '%'" style="float:left;min-width: 170px;border:1px solid gray;min-height:100px;align-content:center">


        <div style="width:30%;min-width:80px;float:left;" >
            <img [src]="data.Logo"  style="width: 100%"  />
        </div>
        <div style="width:70%;min-width:150px;float:left;">
            <a [routerLink]="['/page',data.Id]">{{data.Title}}</a>

        </div>


    </div>
</div>